<head>
  
</head>

<div class="button-container" style="position: fixed; bottom: 0; right: 0">
  <h1>Test Blue</h1>
</div>
{% schema %}
  {
    "name": "App Embed",
    "target": "body",
    "settings": [],
    "javascript": "app.js"
  }
{% endschema %}